<%= form_for(@user, url: update_info_user_path(@user), method: :post) do |f| %>
  <fieldset>
    <legend>Confirm Password</legend>
    <div class="fields">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="actions">
      <%= f.submit "Proceed to edit user" %>
    </div>
  </fieldset>
<% end %>