<div class="depot_form">

  <fieldset>
    <legend>Please Enter Your Details</legend>
    <%= render 'form', order: @order %>
  </fieldset>

  <%= link_to 'Cancel', store_index_url, remote: true %>

</div>