<p id="notice"><%= notice %></p>

<h2>Your Pragmatic Cart</h2>


<ul>
  <% @products.each do |product| %>
      <li><%= product.title %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
