<h1>Depot Order Shipping Confirmation</h1>

<p>
  <%= @greeting %>,
</p>

<p>
  Your order has shipped:
</p>

<table>
  <tr>
    <th colspan="2">Qty</th>
    <th>Description</th>
  </tr>
  <%= render @order.line_items -%>
</table>