<div class="single_line_item">
  <div class="line_item_quantity">
    <%= line_item.quantity %> &times
  </div>

  <div class="line_item_title">
    <%= line_item.product.title %>
  </div>

  <div class="line_item_price">
    <%= number_to_currency(line_item.total_price) %>
  </div>
  <div class="break"></div>
  <div class="line_item_destroy_button">
    <%# link_to raw('<i class="icon-trash icon-white"></i>'), line_item, method: :delete, data: {confirm: "Remove \'#{line_item.product.title}' from cart?"}, :class => 'btn btn-danger' %>
    <%= button_to "Del", line_item, method: :delete, data: {confirm: "Remove \'#{line_item.product.title}' from cart?"}, remote: true %>
  </div>
</div>